@import "tailwindcss";

.leaflet-container {
  z-index: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}